.displayflex-justifycontentcenter, .copyright, .conocenos-main-div, .miflex {
  display: flex;
  justify-content: center;
}

.flex-space-around, .mi-flexRow {
  display: flex;
  justify-content: space-around;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo2 {
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: medium;
  text-align: start;
  color: #000000;
  padding: 1%;
  line-height: 30px;
}

.parrafo {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.parrafo a {
  text-decoration: none;
  font-weight: bold;
  color: #35ac86;
  transition: 0.5s;
}
.parrafo a:hover {
  text-shadow: 0 0 10px #f3e6a7;
  color: #fadb74;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  color: #000000;
  background: linear-gradient(to right bottom, #f3e6a7, #fadb74);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: large;
  text-align: center;
  color: #000000;
  padding: 0.5%;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: larger;
  text-align: start;
  color: #000000;
  padding: 0.5%;
}

.etiqueta {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  text-transform: uppercase;
}

.miflex {
  flex-direction: column;
  align-items: center;
}

.mi-flexRow {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.enfasis, .copyright {
  font-weight: bolder;
}

.top-margin {
  margin-top: 80px;
}

.sides-margin {
  margin: 0px 5%;
}

.marginsides {
  margin: 0 0.5%;
}

.marginbottom {
  margin-bottom: 1%;
}

.marginbottomS {
  margin-bottom: 5%;
}

section {
  margin-bottom: 10px;
}

.margintop {
  margin-top: 20px;
}

.mi-boton-dark {
  color: #fadb74;
  font-weight: bold;
  font-size: small;
  border-color: #fadb74;
  background-color: #000000;
}

.conocenos-main-div {
  align-items: center;
}
.conocenos-main-div p {
  width: 45%;
  margin: 10px;
  padding: 10px;
}

.mi-card img {
  height: auto;
  border-bottom: 1px solid #35ac86;
}
.mi-card div {
  height: 300px;
  background: linear-gradient(to right bottom, #f3e6a7, #fadb74);
}

.table-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: small;
  text-align: center;
  color: #000000;
}

.table-text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: small;
  text-align: start;
  color: #000000;
}

.tabla-servicios {
  margin: 2% 0%;
  border-radius: 10px;
}

.mi-tabla {
  max-width: 100%;
}

.ul-tabla {
  list-style: none;
}

.mi-card-body {
  height: 225px;
}

.mi-card-text1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: small;
  text-align: start;
  color: #fadb74;
}

.mi-card-text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: small;
  text-align: start;
  color: #000000;
}

.pro {
  color: #91bd68;
}

.vip {
  color: #fadb74;
}

.mi-card-ancho {
  width: 35vw;
}

.mi-label {
  padding-top: 10px;
}

.big-card p {
  font-size: 1.1vw;
  line-height: auto;
  text-transform: none;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 1rem;
}
.big-card a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}
.big-card a h3 {
  font-weight: bolder;
  font-size: 1.2vw;
  color: #000000;
}

.bg-legible h5 {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5vw;
}

.text-carrusel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1vh;
}
.text-carrusel p {
  font-size: 1.2vw;
  text-align: start;
  line-height: 150%;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.001);
}
.text-carrusel h5 {
  font-size: 1.2vw;
  font-weight: bolder;
  text-align: center;
}

.img-carrusel {
  position: relative;
}

body {
  background-image: url(../images/bg-anana-tile1.jpg);
  overflow-x: hidden;
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: large;
  }
  .button-fixed {
    position: absolute;
    right: 1px;
  }
  .bg-menu {
    align-self: flex-start;
    margin-top: 0.9rem;
    padding: 1rem;
    background: #35ac86;
    width: 150px !important;
  }
  .mi-nav {
    margin-right: 5%;
  }
  .social-icons a {
    max-height: 100%;
    max-width: 100%;
    margin-right: 10%;
  }
  .social-icons img {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
  }
  .sides-margin {
    margin: 0px 0px;
  }
  .text-carrusel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2vh !important;
  }
  .text-carrusel p {
    font-size: 2.1vw;
    text-align: start;
    line-height: 150%;
    padding: 2%;
  }
  .text-carrusel h5 {
    font-size: 2.1vw;
    font-weight: bolder;
    text-align: center;
  }
  .big-card p {
    font-size: 2vw;
    line-height: 2.2vh;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65));
  }
  .big-card a {
    text-decoration: none;
    color: #000000;
    padding: 0 !important;
  }
  .big-card a h3 {
    font-weight: bolder;
    font-size: 2.3vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65));
  }
  .mi-card div {
    height: auto;
  }
}
@media (max-width: 1360px) {
  .mi-card div {
    height: auto;
  }
}
@media (max-width: 400px) {
  .respon-img {
    width: 15vw;
  }
  .table-text, .table-text2 {
    font-size: 3vw;
  }
  .enfasis, .copyright {
    font-size: 4vw;
  }
}
@media (max-width: 535px) {
  .mi-card-ancho {
    width: 90%;
    min-width: none !important;
  }
  .mi-card-body {
    height: auto;
  }
}
@media (max-width: 1389px) {
  .mi-card-ancho {
    width: 300px;
    min-width: none !important;
  }
  .mi-card-body {
    height: 380px;
  }
}
header {
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: 500;
  background: linear-gradient(to right bottom, #91bd68, #35ac86);
  height: 75px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 50;
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul a {
  text-decoration: none;
  color: #2b2b2b;
  padding: 10px;
}

.logo {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
}

.logo-encore {
  height: 35px;
}

.mi-nav {
  margin-right: 2rem;
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: large;
  background: linear-gradient(to right bottom, #f3e6a7, #fadb74);
  padding: 40px;
  width: 100%;
  height: auto;
  bottom: 0;
}

#left-foot {
  width: 60%;
}

#right-foot {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#right-foot a img {
  max-width: 100%;
  height: auto;
}

.redes {
  max-width: 100%;
  max-height: 100%;
}

.footer-links {
  float: left;
  margin: 0px 30px;
}
.footer-links a {
  color: #000000;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.social-icons a {
  height: 36px;
  margin: 0px 30px;
}
.social-icons img {
  max-height: 100%;
  max-width: 100%;
  margin: 0.2rem;
}

.copyright {
  padding: 10px;
}
.copyright p {
  font-size: 12px;
}

.sitemap-ul {
  border-left: 5px solid #35ac86;
  list-style: none;
}

.mi-boton-dark {
  transition: 0.35s linear;
}

.mi-boton-dark:hover {
  color: #91bd68;
}

.big-card a {
  transition: 0.35s linear;
}
.big-card a:hover {
  text-shadow: 0 0 10px #f98437;
  color: #ffffff;
}

.slider-boton {
  transition: 0.35s;
}

.slider-boton:hover {
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.65);
}

.agrandar div a img {
  transition: 0.5s;
}
.agrandar div a img:hover {
  transform: scale(1.1);
}

.sitemap-ul a {
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
}
.sitemap-ul a:hover {
  color: #35ac86;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
