* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo2 {
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
}

.top {
  padding-top: 70px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  padding: 1%;
  line-height: 30px;
  text-transform: uppercase;
}

.parrafo {
  font-family: "Poppins", sans-serif;
  font-size: large;
}

h1, h2 {
  font-family: "Noticia Text", serif;
  font-weight: bolder;
  /* font-size: xx-large; */
  font-size: xx-large;
  text-align: center;
  /* background-color: #f5d84f; */
  background: linear-gradient(to right bottom, #f5d84f, #e0b62a);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: large;
  text-align: center;
  padding: 0.5%;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: larger;
  text-align: start;
  padding: 0.5%;
}

.etiqueta {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  text-transform: uppercase;
}

.conocenos-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.conocenos-main-div p {
  width: 45%;
  margin: 10px;
  padding: 10px;
}

#tabla-servicios {
  margin-left: 40px;
}

.portfolio-main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.portfolio-main-div p {
  width: 45%;
  margin: 10px;
  padding: 10px;
}

.miflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mi-flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.enfasis {
  font-weight: bolder;
}

.top-margin {
  margin-top: 70px;
}

.sides-margin {
  margin: 0px 10%;
}

.marginsides {
  margin: 0 0.5%;
}

.marginbottom {
  margin-bottom: 10%;
}

.marginbottomS {
  margin-bottom: 5%;
}

.mi-card {
  background: linear-gradient(to right bottom, #f5d84f, #e0b62a);
  height: 300px;
}

.table-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: small;
  text-align: center;
}

.table-text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: small;
  text-align: start;
}

.mi-tabla {
  max-width: 100%;
}

.ul-tabla {
  list-style: none;
}

.mi-card-body {
  height: 410px;
}

.mi-card-text {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: small;
  text-align: center;
  color: #e0b62a;
}

.mi-card-text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: small;
  text-align: start;
  color: #000000;
}

.mi-boton-dark {
  color: #e0b62a;
  font-weight: bold;
  font-size: small;
  border-color: #e0b62a;
}

.pro {
  color: #91bd68;
}

.vip {
  color: #e0b62a;
}

.big-card p {
  font-size: 1.3vw;
  text-transform: none !important;
}
.big-card a {
  text-decoration: none;
  color: #f5d84f;
  padding: 10px;
}
.big-card a h3 {
  font-weight: bolder;
  font-size: 1.3vw;
}

.text-carrusel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 50px !important;
}
.text-carrusel p {
  font-size: 1.5vw;
  text-align: start;
  line-height: 150%;
  padding: 5%;
}
.text-carrusel h5 {
  font-size: 1.5vw;
  font-weight: bolder;
  text-align: center;
}

.img-carrusel {
  position: relative !important;
}

body {
  background-image: url(../images/bg-anana-tile1.jpg);
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: x-large;
  }
  .button-fixed {
    position: absolute;
  }
  .bg-menu {
    align-self: flex-end;
    margin-top: 0.9rem;
    padding: 0.5rem;
    background: #35ac86;
  }
  .mi-navq {
    width: 130px !important;
  }
  .pruebabg {
    display: flex;
    justify-content: right;
  }
  .social-icons a {
    max-height: 100%;
    max-width: 100%;
    margin-right: 10% !important;
  }
  .social-icons img {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
  }
  .sides-margin {
    margin: 0px 0px !important;
  }
  .text-carrusel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 50px !important;
  }
  .text-carrusel p {
    font-size: 2.1vw;
    text-align: start;
    line-height: 150%;
    padding: 2%;
  }
  .text-carrusel h5 {
    font-size: 2.1vw;
    font-weight: bolder;
    text-align: center;
  }
  .big-card {
    background-color: rgba(0, 0, 0, 0.349);
  }
  .big-card p {
    font-size: 1.7vw;
    line-height: 3vh;
  }
  .big-card a {
    text-decoration: none;
    color: #f5d84f;
    padding: 0 !important;
  }
  .big-card a h3 {
    font-weight: bolder;
    font-size: 1.7vw;
  }
  .mi-card {
    height: auto;
  }
}
@media (max-width: 1360px) {
  .mi-card {
    height: auto;
  }
}
header {
  font-family: "Poppins", sans-serif;
  font-size: large;
  font-weight: 500;
  /* background-color: #35ac86; */
  background: linear-gradient(to right bottom, #91bd68, #35ac86);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 0 20px;*/
  position: fixed;
  z-index: 50;
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul a {
  text-decoration: none;
  color: #2b2b2b;
  padding: 10px;
}

.logo {
  width: 100%;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
  /* background-color: #ffffff; */
}

.logo-encore {
  height: 70px;
}

footer {
  font-family: "Poppins", sans-serif;
  font-size: large;
  background: linear-gradient(to right bottom, #f5d84f, #e0b62a);
  padding: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-links ul {
  list-style-type: none;
}
.footer-links ul li {
  display: inline-block;
}
.footer-links ul li a {
  text-decoration: none;
  color: #2b2b2b;
  padding: 10px;
}

#left-foot {
  width: 60%;
}

#right-foot {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#right-foot a img {
  max-width: 100%;
  height: auto;
}

.redes {
  max-width: 100%;
  max-height: 100%;
}

footer {
  color: #000000;
  padding: 20px;
  bottom: 0;
  width: 100%;
  padding: 40px;
}

.footer-links {
  float: left;
  max-width: 40%;
}
.footer-links a {
  color: #000000;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons {
  max-width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.social-icons a {
  height: 36px;
  margin-right: 60px;
}
.social-icons img {
  max-height: 100%;
  max-width: 100%;
  margin: 0.2rem;
}

.mi-nav {
  margin-right: 1rem;
  width: 500px;
}

/*# sourceMappingURL=style.css.map */
