.mi-boton-dark:hover {
    color: map-get($map: $palette, $key: verde-c);
}
//portfolio
.big-card {
    a{
        transition: .4s linear;
    }
    a:hover {
        text-shadow: 0 0 25px map-get($map: $palette, $key: naranja);
    }    
}
