.mi-boton-dark {
    transition: .35s linear;
}
.mi-boton-dark:hover {
    color: map-get($map: $palette, $key: verde-c);
}
//portfolio
.big-card {
    a{
        transition: .35s linear;
    }
    a:hover {
        text-shadow: 0 0 10px map-get($map: $palette, $key: naranja);
        color: map-get($map: $palette, $key: blanco);
    }    
}
.slider-boton {   
    transition: 0.35s;
}
.slider-boton:hover {
    // background-color: map-get($map: $palette, $key: naranja);
    text-shadow: 0 0 100px map-get($map: $palette, $key: negro-65);
}