* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo2 {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;    
}
p {
    @include mi-text('Poppins', sans-serif, normal, medium, start, map-get($map: $palette, $key: negro-basico));    
    padding: 1%;
    line-height: 30px;
    
    // text-transform: uppercase;    
}
.parrafo {    
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 10px 10px 12px 5px map-get($map: $palette, $key: negro-10);
    a{
        text-decoration: none;
        font-weight: bold;
        color: map-get($map: $palette, $key: verde-o);
        transition: 0.5s;
    }
    a:hover {
        text-shadow: 0 0 10px map-get($map: $palette, $key: amarillo-c);
        color: map-get($map: $palette, $key: amarillo-o);
    }
}
h1, h2{
    @include mi-text('Cormorant', serif, normal, x-large, center, map-get($map: $palette, $key: negro-basico));
    background: linear-gradient(to right bottom, map-get($map: $palette, $key: amarillo-c), map-get($map: $palette, $key: amarillo-o));
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px 5px map-get($map: $palette, $key: negro-10);    
}
h3{
    @include mi-text('Poppins', sans-serif, bold, large, center, map-get($map: $palette, $key: negro-basico));    
    padding: .5%;    
}
h5
{
    @include mi-text('Poppins', sans-serif, bolder, larger, start, map-get($map: $palette, $key: negro-basico));
    padding: .5%;
}
.etiqueta {
    font-family: 'Poppins', sans-serif;
    font-size: medium;    
    text-transform: uppercase;    
}
.miflex{
    @extend .displayflex-justifycontentcenter;
    flex-direction: column;    
    align-items: center;
}
.mi-flexRow{
    @extend .flex-space-around;   
    flex-direction: row;    
    align-items: center;
    flex-wrap: wrap;
}
.enfasis{
    font-weight: bolder;    
}
.top-margin {
    margin-top: 80px;
}
.sides-margin{
    margin: 0px 5%;
}
.marginsides {
    margin: 0 0.5%;
}
.marginbottom{
    margin-bottom: 1%;
}
.marginbottomS{
    margin-bottom: 5%;
}
section{
    margin-bottom: 10px;
}
.margintop{
    margin-top: 20px;
}