.conocenos-main-div {
    @extend .displayflex-justifycontentcenter;
    align-items: center;
    p {
        width: 45%;
        margin: 10px;
        padding: 10px;
    }
}
.mi-card{    
    div{
    background: linear-gradient(to right bottom, map-get($map: $palette, $key: amarillo-c), map-get($map: $palette, $key: amarillo-o));
    height: 300px;
    }
}
