.mi-card{
    background: linear-gradient(to right bottom, #f5d84f, #e0b62a);
    
}
.marginsides {
    margin: 0 0.5%;
}
.marginbottom{
    margin-bottom: 10%;
}
.marginbottomS{
    margin-bottom: 5%;
}