.text-carrusel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1vh !important;
    
    p{
        font-size: 1.2vw;
        text-align: start;
        line-height: 150%;
        padding: 5%;
        background-color: rgba(255,255,255,0.001) !important;
    }
    h5 {
        font-size: 1.2vw;
        font-weight: bolder;
        text-align: center;
    }
}
.img-carrusel {
    position: relative !important;
}