.big-card {
    p {
        font-size: 1.3vw;
        text-transform: none !important;
    }
    a {        
        text-decoration: none;
        color: #f5d84f;
        padding: 10px;        
        h3{
            font-weight: bolder;
            font-size: 1.3vw;
        }
    }
}
