.big-card {
    p {
        font-size: 1.3vw;
        line-height: 4vh;
        text-transform: none !important;
    }
    a {        
        text-decoration: none;
        color: map-get($map: $palette, $key: amarillo-c);
        padding: 10px;        
        h3{
            font-weight: bolder;
            font-size: 1.3vw;
        }
    }
}
