@media (max-width: 767px) {    
    h1, h2{
        font-size: large;
    }
    .button-fixed{        
        position:absolute;
        right: 1px;
    }
    //header responsivo
    .bg-menu{
        align-self:flex-start;
        margin-top: 0.9rem;
        padding: 1rem;                
        background: map-get($map: $palette, $key: verde-o);
        width: 150px !important;
    }
    .mi-nav {
        margin-right: 5%;
    }
    //footer responsivo        
    .social-icons {
        a {
            max-height: 100%;
            max-width: 100%;
            margin-right: 10%;
            }
        img {
            max-height: 100%;
            max-width: 100%;
            margin: 0;
        }
    }    
    .sides-margin{
        margin: 0px 0px;
    }
    // texto del carrusel del index
    .text-carrusel {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 2vh !important;
        
        p{
            font-size: 2.1vw;
            text-align: start;
            line-height: 150%;
            padding: 2%;
        }
        h5 {
            font-size: 2.1vw;
            font-weight: bolder;
            text-align: center;
        }
    }
    //cards responsivas en portfolio
    .big-card {        
        p {            
            font-size: 2vw; 
            line-height: 2.2vh;
            background: linear-gradient(to right bottom, map-get($map: $palette, $key: negro-35), map-get($map: $palette, $key: negro-65));           
        }
        a {        
            text-decoration: none;
            color: map-get($map: $palette, $key: negro-basico);
            padding: 0 !important;        
            h3{
                font-weight: bolder;
                font-size: 2.3vw;
                background: linear-gradient(to bottom, map-get($map: $palette, $key: negro-35), map-get($map: $palette, $key: negro-65));
            }
        }        
    }
    .mi-card{
        div{ 
            height: auto;
        }
    }  
    
}
@media (max-width: 1360px) {
    .mi-card {
            div{
                height: auto;
        }
    }
}
//media query para achicar la tabla de servicios
@media (max-width: 450px) {
    .respon-img{
        width: 15vw;
    }
    .table-text, .table-text2, .mi-boton-dark {
        font-size: 2.6vw;
    }
    .enfasis {
        font-size: 4vw;
    }     
}
@media (max-width: 535px){
    .mi-card-ancho{
        width: 90%;
        min-width: none !important;  
    }
    .mi-card-body{
        height: auto;    
    }
}
@media (max-width: 1389px){
    .mi-card-ancho{
        width: 300px;
        min-width: none !important;  
    }
    .mi-card-body{
        height: 380px;    
    }
}
