.table-text{
    @include mi-text ('Poppins', sans-serif, 500, small, center, map-get($map: $palette, $key: negro-basico));        
}
.table-text2{
    @include mi-text ('Poppins', sans-serif, 200, small, start, map-get($map: $palette, $key: negro-basico));
    
}
.tabla-servicios {
    margin: 2% 0%;
    border-radius: 10px;    
}
.mi-tabla{
    max-width: 100%;    
}
.ul-tabla{
    list-style: none;    
}
.mi-card-body{
    height: 225px;    
}
.mi-card-text1{
    @include mi-text ('Poppins', sans-serif, bold, small, start, map-get($map: $palette, $key: amarillo-o));
}
.mi-card-text2{
    @include mi-text ('Poppins', sans-serif, 200, small, start, map-get($map: $palette, $key: negro-basico));
}

.pro{
    color: map-get($map: $palette, $key: verde-c);    
}
.vip{
    color: map-get($map: $palette, $key: amarillo-o);
}
.mi-card-ancho{    
    width: 35vw;
    // min-width: 500px;
}
.info {
    font-family: 'Poppins', sans-serif;
    width: auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #91bd68;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
}
.info__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
} 
.info__icon path {
    fill: #fff;
}

.info__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.info__close path {
    fill: #fff;
}