.table-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;    
    font-size:  small;
    text-align: center;    
}
.table-text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;    
    font-size: small;
    text-align: start;
}
.mi-tabla{
    max-width: 100%;    
}
.ul-tabla{
    list-style: none;    
}
.mi-card-body{
    height: 410px;
}
.mi-card-text{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;    
    font-size: small;
    text-align: center;
    color:map-get($map: $palette, $key: amarillo-o);
}
.mi-card-text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;    
    font-size: small;
    text-align: start;
    color:map-get($map: $palette, $key: negro-basico);
}
.mi-boton-dark {
    color: map-get($map: $palette, $key: amarillo-o);
    font-weight: bold;
    font-size: xx-small;
    border-color: map-get($map: $palette, $key: amarillo-o);
}
.pro{
    color: map-get($map: $palette, $key: verde-c);    
}
.vip{
    color: map-get($map: $palette, $key: amarillo-o);
}
