.table-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;    
    font-size:  small;
    text-align: center;    
}
.table-text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;    
    font-size: small;
    text-align: start;
}
.mi-tabla{
    max-width: 100%;    
}
.ul-tabla{
    list-style: none;    
}
.mi-card-body{
    height: 410px;
}
.mi-card-text{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;    
    font-size: small;
    text-align: center;
    color:#e0b62a;
}
.mi-card-text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;    
    font-size: small;
    text-align: start;
    color:#000000;
}
.mi-boton-dark {
    color: #e0b62a;
    font-weight: bold;
    font-size: small;
    border-color: #e0b62a;
}
.pro{
    color: #91bd68;    
}
.vip{
    color: #e0b62a;
}
